* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.7pt;
  outline: none;
  border: 0;
}

#title {
  position: fixed;
  width: 100vw;
  padding-left: .5em;
  background-color: black;
  color: white;
}

label {
  margin-top: 1em;
}

p {
  padding: .5em;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 10pt;
  width: 50vw;
  margin-left: 1em;
}

input, select {
  text-transform: none;
  padding: .5em;
  margin: .3em;
  border-radius: .3em;
  width: 18em;
}

input[type=date] {
  padding: 1em;
  width: 15em;
}

.btn-menu {
  width: 50vw;
}

button {
  padding: .7em 1.5em;
  background-color: white;
  /* border-right: 3px solid black;
  border-bottom: 4px solid rgb(52, 124, 52); */
  margin: .2em;
  border-radius: .3em;
  box-shadow: 2px 2px 5px rgb(55, 93, 65);
}

button:active {
  color: rgb(189, 189, 189);
}

#menu {
  display: flex;
  background-color: rgb(78, 85, 122);
  padding: 5px;
  font-size: .1em;
}

#list-result div {
  padding: .3em;
  margin: .2em;
  background-color: rgb(115, 210, 142);
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

.page {
  padding: 50px 5px 2em 5px;
  background-color: rgb(97, 161, 113);
  height: max-content;
  min-height: 100vh;
  user-select: none;
}

.button-menu {
  margin-top: 1em;
}

.button-menu-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#btn-admin {
  background-color: rgb(78, 128, 90);
  color: white;
  margin-top: 20px;
  opacity: .7;
}

#new-student-form, #edit-student-form {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 1em 0
}

#btn-ok-delete {
  background-color: grey;
  color: white;
}


#call-car-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

#number-keypad, #bus-letters {
  display: grid;
  grid-template: "a b c" auto;
  justify-content: center;
  gap: 4px;
}

#letters-keypad {
  display: none
}


.num, #num-ok, #num-erase {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 16pt;
  min-width: 55px;
  min-height: 55px;
  border-radius: 4px;
}

#num-ok, #num-erase {
  font-size: 1.2em;
}

#toggle-keypad {
  position: absolute;
  bottom: 15vh;
  right: 1VW;
  color: white;
  background-color: rgb(66, 109, 77);
  padding: 5px;
  border-radius: 6px;
  border: solid 1px white;
}

#toggle-keypad:active {
  color: black;
}

#close-page-call, #close-page-classes {
  position: absolute;
  z-index: 20;
  top: 2px;
  right: 10px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  opacity: .8;
}

.num:active, #num-ok:active, #num-erase:active {
  background-color: white;
  color: black;
}

#keyboard-display {
  margin-top: 20vh;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  width: 100%;
  height: 90px;
  margin: 0;
}

#screen {
  background-color: black;
  color: white;
  width: 150px;
  height: 65px;
  border-radius: 6px;
}

#car-line-list {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  background-color: black;
  color: white;
  height: 28vh;
  width: 95vw;
  overflow: hidden;
	overflow-y: scroll;
  padding-left: 4px;
  font-size: 12pt;
  border-radius: 6px;
  transition: all .5s;
}

.class-list{
  height: 80%;
  z-index: 10;
  flex-direction: column;
  position: absolute;
  background-color: black;
  color: white;
  width: 95vw;
  overflow: hidden;
	overflow-y: scroll;
  padding-left: 4px;
  margin-left: 4px;
  font-size: 12pt;
  border-radius: 6px;
  transition: all .5s;
}

.class-list div,
#car-line-list div,
#car-line-class-list div {
  max-width: 95%;
  margin: 4px;
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  padding: 5px;
  border-radius: 6px;
}

.front-office {
  color: yellow;
}


#classes-list-div {
  display: none;
}

#div-message, #div-confirm {
  position: absolute;
  z-index: 20;
  top: 10vh;
  left: 50%;
  width: 70vw;
  margin-left: -35vw;
  height: 70vh;
  background-color: black;
  color: white;
  opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-right: 3px solid rgb(106, 106, 106);
  border-bottom: 4px solid rgb(31, 75, 31);
}

#message-box, #confirm-box {
  font-size: 18pt;
  height: 80%;
  width: 90%;
  text-align: center;
  overflow: hidden;
	overflow-y: scroll;
}

#buttons-confirm {
  margin-top: 5px;
}
#buttons-confirm button {
  font-size: 8pt;
}

#div-card-confirm {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(69, 91, 74);
  height: 100vh;
}

#card-confirm {
  margin-top: 15px;
  background-color: black;
  border: 7px solid rgb(78, 128, 90);
  border-radius: 4px;
  color: white;
  width: 320px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(40, 69, 48);
}

#card-confirm button {
  box-shadow: 2px 2px 5px rgb(65, 65, 65);
}

#car-number {
  padding-top: 10px;
  font-size: 35pt;
  font-weight: bold;
  text-align: center;
}

#car-students {
  font-size: 10pt;
  margin: 5px;
}

#form-confirm {
  background-color: rgb(63, 63, 63);
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#form-confirm label {
  margin: 10px;
  padding: 10px;
  background-color: grey;
  color: rgb(194, 194, 194);
  border-radius: 4px;
  font-size: 10pt;
  font-weight: bold;
}

#form-confirm input {
  display: none;
}

#form-confirm input:checked+label {
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 4px;
  color: black;
}

#confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: rgb(63, 63, 63);
}

#confirm-buttons button {
  width: 120px;
}

#chat-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 7px;
  background: linear-gradient(180deg, rgb(72, 72, 72) 0%, rgb(0,0,0) 80%, rgb(0,0,0) 100%);
  height:100vh;
  padding-bottom: 50px;
}

#messages {
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 40px;
}

.message-div{
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 12px;
  font-size: 8pt;
  min-width: auto;
  max-width: 90vw;
  width: fit-content;
}

.chat-name {
  font-weight: bold;
  color: rgb(152, 152, 152);
  min-width: auto;
  margin-bottom: 4px;
}

.chat-time {
  align-self: flex-end;
  margin-top: 4px;
  font-size: 8px;
  color: rgb(101, 101, 101);
  width: fit-content;
}

.message-text {
  width: fit-content;
  text-align: left;
}

#chat-div form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  border-radius: 20px;
}

#chat-div input[type=submit] {
  width: 60px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgb(71, 71, 71);
}

#chat-div input[type=text] {
  width: max-content;
  outline: none;
  border: none;
  width: 100%;
  color: white;
  text-transform: uppercase;
  background-color: black;
}

#close-chat {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 50%;
  opacity: .8;
  font-weight: bold;
  
}

#open-chat {
  position: fixed;
  z-index: 20;
  color: white;
  font-weight: bold;
  right: 10px;
  bottom: 15px;
  background-color: BLACK;
  padding: 10px;
  border: solid white 2px;
  border-radius: 4px;
}

#new-messages {
  position: absolute;
  right: -7px;
  top: -10px;
  background-color: red;
  padding: 5px;
  padding-left: 7px;
  font-size: 10px;
  color: white;
  line-height: 10px;
  text-align: center;
  border-radius: 20px;
}

.hidden {
  display: none;
}